---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
import Columns from "../components/Columns.astro";
import Button from "../components/Button.astro";
import Article from "../components/Article.astro";
import LogoCarousel from "../components/LogoCarousel.astro";
import TestimonialWrapper from "../components/TestimonialWrapper.astro";
import CTA from "../components/CTA.astro";
---

<Layout>
  <Section>
    <Container>
      <Columns>
        <div slot="first">
          <h1 class="about--heading">About Jeff Perry</h1>
          <p class="about--subheading">
            Get to know the founder of More Than Engineering.
          </p>
          <Button
            href="https://www.engineeringcareeraccelerator.com/precall-survey"
            label="Book a call"
          />
        </div>
      </Columns>
    </Container>
    <div class="section--wrapper">
      <img src="/assets/jeff-perry-cutout.webp" alt="" class="hero--cutout" />
    </div>
    <div class="bottom--rule"></div>
  </Section>
  <Section>
    <Container>
      <Article>
        <h2>About Jeff Perry</h2>
        <p>
          As a software, mechanical, and manufacturing engineer, I designed and
          developed a lot of products and processes.
        </p>
        <p>Now I build people.</p>
        <p>
          This is where my joy and professional satisfaction comes from—being a
          part of helping others succeed and grow.
        </p>
        <p>
          Every person is unique and has different challenges. I can't solve
          every problem, but have been able to assist people in many ways
          including:
        </p>
        <ul>
          <li>
            <strong>Finding increased user career.</strong> The grass is not always
            greener on the other side, but sometimes it is. We can explore the "stay
            or go" question and help you be in a better spot to succeed either way.
          </li>
          <li>
            <strong>Dealing with unemployment or underemployment.</strong> You are
            a solid professional with skills to bring to the table that aren't being
            put to use. Let's change that together.
          </li>
          <li>
            <strong
              >Getting clarity and exploring new career possibilities.
            </strong> Engineers are versatile and have many directions they could
            take their careers. Let's get clear on what's truly important to you
            so you can create a career you love.
          </li>
          <li>
            <strong>Leadership and personal development.</strong> Starting from a
            foundation of mindsets, we can work together to change how you see yourself
            and the people around you, building critical leadership skills along
            the way.
          </li>
        </ul>
        <p>
          For years, I have had the pleasure of supporting engineers and
          software pros from new grads to executives. Having been on the front
          lines in the technical world, I have been able to map out the
          necessary skills for becoming a quality leader in the field.
        </p>
        <p>
          When you work with me as your coach, you work with someone who has
          been where you are, and has the skills to get you where you want to
          go.
        </p>
        <p>
          I would love to learn about you and the challenges you face. Please
          reach out to me on LinkedIn or email me at <a
            href="mailto:jeff@morethan-engineering.com"
            >jeff@morethan-engineering.com
          </a>.
        </p>
      </Article>
    </Container>
  </Section>
  <LogoCarousel />
  <Section>
    <Container>
      <TestimonialWrapper />
    </Container>
  </Section>
  <CTA />
</Layout>

<style lang="scss">
  @import "../styles/variables.scss";

  .about--heading {
    margin-bottom: map-get($spacing, "400");
  }
  .about--subheading {
    margin-bottom: map-get($spacing, "600");
  }

  .section--wrapper {
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: map-get($breakpoints, "xxl");
    height: 100%;
    margin-inline: auto;
  }

  .hero--cutout {
    display: none;
    position: absolute;
    right: map-get($spacing-pairs, "from-400-to-900");
    bottom: 0;
    width: auto;
    height: 27.5rem;

    @media screen and (min-width: map-get($breakpoints, "lg")) {
      display: block;
    }
  }

  .bottom--rule {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: map-get($primary, "100");
  }
</style>
