---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
import Columns from "../components/Columns.astro";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon";
import Article from "../components/Article.astro";
import LogoCarousel from "../components/LogoCarousel.astro";
import CTA from "../components/CTA.astro";

import { getAboutPageContent } from "../lib/queries.js";

const page = await getAboutPageContent();
---

<Layout>
  <Section>
    <Container>
      <Columns>
        <div slot="first">
          <h1 class="about--heading">
            <span class="span">About</span> Jeff Perry
          </h1>
          <p class="about--subheading">
            Get to know the founder of More Than Engineering.
          </p>
          <Button
            href="https://go.oncehub.com/JeffPerryIntroCall"
            label="Book a call"
          >
            <Icon pack="heroicons-solid" name="phone" slot="icon--left" />
          </Button>
        </div>
      </Columns>
    </Container>
    <div class="section--wrapper">
      <img src="/assets/jeff-about-cutout.webp" alt="" class="hero--cutout" />
      <img src="/assets/background-icons.svg" alt="" class="hero--background" />
    </div>
    <div class="bottom--rule"></div>
  </Section>
  <Section>
    <Container>
      <Article set:html={page.content} />
    </Container>
  </Section>
  <LogoCarousel />
  <CTA />
</Layout>

<style lang="scss">
  @import "../styles/variables.scss";

  .about--heading {
    margin-bottom: map-get($spacing, "400");
  }
  .about--subheading {
    margin-bottom: map-get($spacing, "600");
  }

  .section--wrapper {
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: map-get($breakpoints, "xxl");
    height: 100%;
    margin-inline: auto;
  }

  .hero--cutout {
    display: none;
    position: absolute;
    z-index: 100;
    right: map-get($spacing-pairs, "from-400-to-900");
    bottom: 0;
    width: auto;
    height: 27.5rem;

    @media screen and (min-width: map-get($breakpoints, "lg")) {
      display: block;
    }
  }

  .hero--background {
    display: none;
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    opacity: 0.75;

    @media screen and (min-width: map-get($breakpoints, "lg")) {
      display: block;
    }
  }

  .bottom--rule {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: map-get($primary, "100");
  }
</style>
