---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
import PostCard from "../components/PostCard.astro";
import CTA from "../components/CTA.astro";

import { getAllPodcasts } from "../lib/api.js";
const podcasts = await getAllPodcasts();
---

<Layout>
  <Section>
    <Container>
      <div class="heading--wrapper">
        <h1 class="podcast--heading">
          Listen to the <span class="span">podcasts</span>
        </h1>
        <p class="podcast--subheading">
          This blog will help you take your career and leadership challenges
          beyond the problems to find solutions. Come here not just to learn new
          ideas but to take action!
        </p>
      </div>
    </Container>
  </Section>
  <Section>
    <Container>
      <div class="post--card--wrapper">
        <!--         {podcasts.edges.map((podcast) => (
          <PostCard href={`/${podcast.node.slug}`} title={podcast.node.title} />
        ))} -->
      </div>
    </Container>
  </Section>
  <CTA />
</Layout>

<style lang="scss">
  @import "../styles/variables.scss";

  .podcast--heading {
    margin-bottom: map-get($spacing, "400");
  }

  .heading--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: column;
    width: min(100%, 48.125rem);
    margin-inline: auto;
    text-align: center;
  }

  .post--card--wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(9, minmax(0, 1fr));
    gap: map-get($spacing, "400");

    @media screen and (min-width: map-get($breakpoints, "md")) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(5, minmax(0, 1fr));
    }

    @media screen and (min-width: map-get($breakpoints, "lg")) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(3, minmax(0, 1fr));
    }
  }
</style>
