---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
import Columns from "../components/Columns.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import Button from "../components/Button.astro";
import { Icon } from "astro-icon";
import CardWrapper from "../components/CardWrapper.astro";
import ServicesCard from "../components/ServicesCard.astro";
import CTA from "../components/CTA.astro";
---

<Layout>
  <Section>
    <Container>
      <Columns>
        <div slot="first">
          <h1 class="services--heading">Services</h1>
          <p class="services--subheading">
            Helping engineering and technology individuals and teams unleash
            their potential and take their careers and lives to the next level.
          </p>
          <ButtonGroup>
            <Button
              href="https://go.oncehub.com/JeffPerryIntroCall"
              label="Book a call"
            >
              <Icon pack="heroicons-solid" name="phone" slot="icon--left" />
            </Button>
            <Button isOutlined="true" href="#career" label="Learn more">
              <Icon pack="heroicons-solid" name="arrow-right" slot="icon--right"
              />
            </Button>
          </ButtonGroup>
        </div>
        <div slot="second"></div>
      </Columns>
    </Container>
    <div class="section--wrapper">
      <img src="/assets/jeff-services-cutout.webp" alt="" class="hero--cutout"
      />
      <img src="/assets/background-icons.svg" alt="" class="hero--background" />
    </div>
    <div class="bottom--rule"></div>
  </Section>
  <Section>
    <Container>
      <CardWrapper />
    </Container>
  </Section>
  <Section>
    <Container>
      <div id="career-development-coaching" class="anchor"></div>
      <ServicesCard
        src="/assets/services-career.webp"
        title="Career development coaching"
      >
        <div slot="description" class="services--description">
          <p>
            It's time to develop skills beyond the technical realm through a
            personalized coaching approach. Let me guide you through your next
            big transition with more clarity, speed, and purpose.
          </p>
          <p>
            What we work on is customized to you, but can include: career
            planning, leadership development, communication training, mindset
            improvement, LinkedIn/resume writing, networking strategies,
            interview preparation, compensation negotiation, and more!
          </p>
          <p>
            Put simply—if you have a career canyon you need to cross, I can
            build the bridge with you.
          </p>
        </div>
      </ServicesCard>
      <div id="leadership-coaching" class="anchor"></div>
      <ServicesCard
        src="/assets/services-leadership.webp"
        title="Leadership coaching"
      >
        <div slot="description" class="services--description">
          <p>
            It's time to develop skills beyond the technical realm through a
            personalized coaching approach. Let me guide you through your next
            big transition with more clarity, speed, and purpose.
          </p>
          <p>
            What we work on is customized to you, but can include: career
            planning, leadership development, communication training, mindset
            improvement, LinkedIn/resume writing, networking strategies,
            interview preparation, compensation negotiation, and more!
          </p>
          <p>
            Put simply—if you have a career canyon you need to cross, I can
            build the bridge with you.
          </p>
        </div>
      </ServicesCard>
      <div id="speaking" class="anchor"></div>
      <ServicesCard src="/assets/services-speaking.webp" title="Speaking">
        <div slot="description" class="services--description">
          <p>
            Engineers and technical professionals need more than just strong
            technical skills to succeed in today's workforce. You know this.
          </p>
          <p>
            Workshops and presentations can be a great way to bring important
            and life-changing ideas to a group or team. Each event uses a blend
            of presentation, examples, participation, and a personal touch to
            deliver a memorable experience with actionable learning.
          </p>
          <p>
            Sessions can be delivered and adapted to various groups and
            situations.
          </p>
          <p>
            Workshops can be delivered as standalone events with additional
            coaching/facilitation services (recommended). Time ranges represent
            appropriate adaptations that can be made, but can drastically change
            the workshop scope, depth, and deliverables.
          </p>
        </div>
      </ServicesCard>
      <div id="business-consulting" class="anchor"></div>
      <ServicesCard
        src="/assets/services-consulting.webp"
        title="Business consulting"
      >
        <div slot="description" class="services--description">
          <p>
            It's time to develop skills beyond the technical realm through a
            personalized coaching approach. Let me guide you through your next
            big transition with more clarity, speed, and purpose.
          </p>
          <p>
            What we work on is customized to you, but can include: career
            planning, leadership development, communication training, mindset
            improvement, LinkedIn/resume writing, networking strategies,
            interview preparation, compensation negotiation, and more!
          </p>
          <p>
            Put simply—if you have a career canyon you need to cross, I can
            build the bridge with you.
          </p>
        </div>
      </ServicesCard>
    </Container>
  </Section>
  <CTA />
</Layout>

<style lang="scss">
  @import "../styles/variables.scss";

  [astro-icon] {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
  }

  .section--wrapper {
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: map-get($breakpoints, "xxl");
    height: 100%;
    margin-inline: auto;
  }

  .hero--cutout {
    display: none;
    position: absolute;
    z-index: 100;
    right: map-get($spacing-pairs, "from-400-to-900");
    bottom: 0;
    width: auto;
    height: 27.5rem;

    @media screen and (min-width: map-get($breakpoints, "lg")) {
      display: block;
    }
  }

  .hero--background {
    display: none;
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    opacity: 0.75;

    @media screen and (min-width: map-get($breakpoints, "lg")) {
      display: block;
    }
  }

  .bottom--rule {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: map-get($primary, "100");
  }

  .services--heading {
    margin-bottom: map-get($spacing-pairs, "from-300-to-400");
  }

  .services--subheading {
    margin-bottom: map-get($spacing-pairs, "from-500-to-600");
  }

  .services--description p:not(:last-of-type) {
    margin-bottom: map-get($spacing, "400");
  }

  .services--description p:not(:first-of-type) {
    margin-top: map-get($spacing, "400");
  }

  .anchor {
    width: 100%;
    height: 1px;
    visibility: hidden;
  }
</style>
