---
---

<div><slot></slot></div>

<style lang="scss">
  @import "../styles/variables.scss";
  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
</style>
