---
import Container from "./Container.astro";
import Button from "./Button.astro";
---

<header id="header" class="nav">
  <Container>
    <div class="nav--wrapper">
      <a href="/" class="nav--brand">
        <img src="/assets/jeff-perry-logo.svg" alt="" class="nav--logo" />
      </a>
      <div class="nav--right">
        <ul class="nav--menu">
          <li class="nav--link">
            <a href="/">Home</a>
          </li>
          <li class="nav--link">
            <a href="/about">About</a>
          </li>
          <li class="nav--link">
            <a href="/blog">Blog</a>
          </li>
          <li class="nav--link">
            <a href="/services">Services</a>
          </li>
          <li class="nav--link">
            <a href="/contact">Contact</a>
          </li>
          <li class="nav--link cta">
            <a href="/">Get started</a>
          </li>
        </ul>
      </div>
      <div id="burger" class="nav--burger">
        <img src="/assets/icon-burger.svg" alt="" class="nav--burger--icon" />
      </div>
      <div class="nav--mobile-menu"></div>
    </div>
  </Container>
</header>

<style lang="scss">
  @import "../styles/variables.scss";

  .nav {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 5rem;
    background-color: rgba($white, 0);
    border-bottom: 1px solid rgba($black, 0);
    transition: all 0.3s ease-in-out;

    &.is-scrolled {
      background-color: $white;
      border-bottom: 1px solid map-get($neutrals, "100");
      box-shadow: 0 10px 15px -3px rgba($black, 0.1),
        0 4px 6px -4px rgba($black, 0.1);
    }
  }
  .nav--wrapper,
  .nav--menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav--wrapper {
    justify-content: space-between;
  }

  .nav--logo {
    width: auto;
    height: 2.5rem;
  }

  .nav--right {
    display: none;
    @media screen and (min-width: map-get($breakpoints, "lg")) {
      display: inline-block;
    }
  }
  .nav--menu {
    justify-content: flex-end;
    gap: map-get($spacing, "600");
  }
  .nav--link {
    font-size: map-get($font-size, "300");
    font-weight: 500;
    color: map-get($neutrals, "400");
    transition: color 0.3s ease-in-out;

    &.cta {
      padding-block: map-get($spacing, "100");
      padding-inline: map-get($spacing, "200");
      background-color: rgba($white, 1);
      font-weight: 500;
      color: map-get($secondary, "500");
      border: 1px solid map-get($secondary, "500");
      border-radius: 0.125rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: map-get($secondary, "500");
        color: $white;
      }
    }

    &:hover {
      color: map-get($secondary, "500");
    }
  }

  .nav--burger {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $white;
    border: 1px solid map-get($neutrals, "100");
    border-radius: 0.125rem;
    box-shadow: 0 1px 3px 0 rgba($black, 0.1), 0 1px 2px -1px rgba($black, 0.1);
    cursor: pointer;

    @media screen and (min-width: map-get($breakpoints, "lg")) {
      display: none;
    }
  }

  .nav--burger--icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .nav--mobile-menu {
    display: none;
  }
</style>

<script>
  window.onscroll = function () {
    "use strict";
    const header = document.querySelector("#header");

    if (window.scrollY > 1) {
      header.classList.add("is-scrolled");
    } else {
      header.classList.remove("is-scrolled");
    }
  };

  const burger = document.querySelector("#burger");
  burger.addEventListener("click", showMobileMenu);

  function showMobileMenu() {
    "use strict";
    const mobileMenu = document.querySelector(".nav-mobile--menu");
    mobileMenu.classList.toggle("is-shown");
  }
</script>
