---
import Section from "./Section.astro";
import Container from "./Container.astro";
---

<script>
  import Swiper, { Autoplay } from "swiper";
  const swiper = new Swiper(".swiper--scroll", {
    modules: [Autoplay],
    autoplay: {
      delay: 3000,
    },
    centeredSlides: true,
    loop: true,
    loopedSlides: 11,
    loopFillGroupWithBlank: true,
    slidesPerGroup: 3,
    slidesPerView: "auto",
  });
</script>

<Section isSmall="true">
  <div class="rule--top"></div>
  <Container>
    <h5>Clients are building their careers at top companies like:</h5>
  </Container>
  <div class="carousel swiper--scroll swiper-no-swiping">
    <div class="logo-wrapper swiper-wrapper">
      <img src="/assets/blue-origin-logo.svg" alt="" class="logo swiper-slide"
      />
      <img src="/assets/amazon-logo.svg" alt="" class="logo swiper-slide" />
      <img src="/assets/amway-logo.svg" alt="" class="logo swiper-slide" />
      <img src="/assets/bbt-logo.svg" alt="" class="logo swiper-slide" />
      <img src="/assets/boeing-logo.svg" alt="" class="logo swiper-slide" />
      <img src="/assets/meta-logo.svg" alt="" class="logo swiper-slide" />
      <img src="/assets/micron-logo.svg" alt="" class="logo swiper-slide" />
      <img src="/assets/microsoft-logo.svg" alt="" class="logo swiper-slide" />
      <img src="/assets/nike-logo.svg" alt="" class="logo swiper-slide" />
      <img
        src="/assets/northrop-grumman-logo.svg"
        alt=""
        class="logo swiper-slide"
      />
      <img src="/assets/t-mobile-logo.svg" alt="" class="logo swiper-slide" />
    </div>
  </div>
  <div class="rule--bottom"></div>
</Section>

<style lang="scss">
  @import "../styles/variables.scss";
  @import "swiper/scss";
  @import "swiper/scss/autoplay";

  .rule--top,
  .rule--bottom {
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: map-get($primary, "400");
  }

  .rule--top {
    top: -1px;
  }

  .rule--bottom {
    bottom: -1px;
  }

  h5 {
    text-align: center;
  }
  .carousel {
    width: 100%;
    height: auto;
    margin-top: map-get($spacing, "600");
  }
  .logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .logo {
    width: auto;
    height: 2rem;
    margin-inline: map-get($spacing, "600");
    opacity: 0.6;
  }
</style>
