---
import "../styles/variables.scss";
---

<a href="/">
  <img src="/assets/jeff-perry-logo.svg" alt="Logo" />
</a>

<style lang="scss">
  @import "../styles/variables.scss";
  a {
    display: grid;
    place-items: center;
  }
  img {
    width: auto;
    height: map-get($spacing, "600");
  }
</style>
