---
import Button from "./Button.astro";
import { Icon } from "astro-icon";

export interface Props {
  title: string;
  src?: string;
  content?: string;
}

const { title, src, content } = Astro.props as Props;
---

<div class="services--card">
  <img src={src} alt="" class="services--card--image" />
  <div class="services--card--bottom">
    <h3 class="services--card--title">{title}</h3>
    <div class="services--description--wrapper" set:html={content}></div>
    <Button
      href="https://go.oncehub.com/JeffPerryIntroCall"
      label="Book a call"
    >
      <Icon pack="heroicons-solid" name="phone" slot="icon--left" />
    </Button>
  </div>
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  [astro-icon] {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
  }

  .services--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100%, 48.125rem);
    margin-inline: auto;
    padding-block: map-get($spacing, "700");
    padding-inline: map-get($spacing, "600");
    border: 1px solid map-get($primary, "100");

    &:not(:first-of-type) {
      margin-top: map-get($spacing, "800");
    }

    &:not(:last-of-type) {
      margin-bottom: map-get($spacing, "800");
    }
  }

  .services--card--image {
    margin-bottom: map-get($spacing, "600");
    box-shadow: 0 25px 50px -12px rgba($black, 0.25);
  }

  /*   .services--card--bottom {
    padding: map-get($spacing, "400");
  } */

  .services--card--title {
    margin-bottom: map-get($spacing, "400");
  }

  .services--description--wrapper {
    margin-bottom: map-get($spacing, "600");
  }

  .services--description--wrapper :global(p) {
    &:not(last-of-type) {
      margin-bottom: map-get($spacing, "400");
    }
  }
</style>
