---
import Testimonial from "./Testimonial.astro";

import { getAllTestimonials } from "../lib/api.js";
const testimonials = await getAllTestimonials();
const featuredTestimonials = testimonials.edges.slice(0, 3);
---

<div class="testimonial--wrapper">
  {featuredTestimonials.map((testimonial) => (
    <Testimonial
      author={testimonial.node.testimonials.author}
      title={testimonial.node.testimonials.title}
      body={`${testimonial.node.content} ...`}
    />
  ))}
</div>

<style lang="scss">
  @import "../styles/variables.scss";
  .testimonial--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: map-get($spacing, "400");

    @media screen and (min-width: map-get($breakpoints, "lg")) {
      flex-direction: row;
    }
  }
</style>
