---
export interface Props {
  author?: string;
  title?: string;
  body: string;
}

const { author, title, body } = Astro.props as Props;
---

<div class="testimonial">
  <div class="testimonial--content">{body}</div>
  <div class="testimonial--bottom">
    <h6 class="testimonial--author">{author}</h6>
    <p class="testimonial--title">{title}</p>
  </div>
</div>

<style lang="scss">
  @import "../styles/variables.scss";
  .testimonial {
    padding: map-get($spacing, "600");
    background-color: $white;
    border: 1px solid map-get($neutrals, "50");
    border-radius: 0.5rem;
  }
  .testimonial--content :global(p) {
    font-size: map-get($font-size, "300");
    color: map-get($neutrals, "300");
    margin-bottom: map-get($spacing, "400");
  }
  .testimonial--author,
  .testimonial--title {
    font-size: map-get($font-size, "300");
  }
  .testimonial--author {
    font-weight: 600;
  }
  .testimonial--title {
    color: map-get($neutrals, "300");
  }
</style>
